header, footer {
    padding: 1em;
    color: purple;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    margin: 0;
    padding: 1em;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

/*table.dataTable,
table.dataTable tr,
table.dataTable td {
    color: red;
    font-weight: bold;
    font-size:18px;
    font-family:Microsoft JhengHei;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;

}*/
div.littleHelperField{
    color:white;
    text-shadow:3px 3px 3px #000000;
    font-family:Microsoft JhengHei;
    font-size:18px;
    font-weight:lighter;
    padding-left:20px;
}
div.currentTempField{
    font-size:60px;
    font-weight: bold;
    font-family:Microsoft JhengHei;
    color:white;
    text-shadow:3px 3px 3px #000000;
    padding-top: 0px;
}
div.currentCountyField{
    font-size:50px;
    font-weight: bold;
    font-family:Microsoft JhengHei;
    color:white;
    padding-top: 0px;
}
div.reserveSpaceShort{
    height:150px;

}
div.reserveSpaceLong{
    height:300px;

}
div.dataTableBorder {
    border:1pt solid rgba(80%,80%,80%,0.9);
    border-radius: 5px;
    display: inline-block;
    background: rgba(0%,0%,0%,0.2);
}
table.dataTable{
    border-collapse:collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    display:none;
}
table.dataTable tr {
    
}
table.dataTable td {
    font-size:18px;
    font-weight:lighter;
    font-family:Microsoft JhengHei;
	padding: 10px;
    vertical-align:middle;
    border-top:1pt solid white;
    margin:auto;
    text-align: left;
    color: white;
}
table.dataTable th {
    font-size:18px;
    font-weight: bold;
    font-family:Microsoft JhengHei;
    padding: 10px;
	text-align: left;
    color: rgba(80%,80%,80%,0.9);
}
table.weatherStatusTable,
table.weatherStatusTable tr,
table.weatherStatusTable td {
    color: red;
    font-weight: bold;
    font-size:18px;
    font-family:Microsoft JhengHei;
    text-align: left;
}

#MainBody{
    background-image:url(..//Image/01d29ccaf765eff5ce.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

#InformationForm{
    color: red;
    font-weight: bold;
    font-size:18px;
    font-family:Microsoft JhengHei;
}

header.outset {border-style: outset;}

img
{

  display:table-cell;
  vertical-align:middle;
  margin:auto;
}